<div class="password__input">
  <label>Password</label>
  <input type="password" [(ngModel)]="password" id="password-field" placeholder="Enter password"/>
</div>
<div id="password-strength">
  <div [ngClass]="{ 
    'gray': getPasswordStrength() === 'gray',
    'red': getPasswordStrength() === 'weak' || getPasswordStrength() === 'easy', 
    'yellow': getPasswordStrength() === 'medium', 
    'green': getPasswordStrength() === 'strong' }">
  </div>
  <div [ngClass]="{ 
    'gray': getPasswordStrength() === 'gray'  || getPasswordStrength() === 'easy',
    'red': getPasswordStrength() === 'weak', 
    'yellow': getPasswordStrength() === 'medium', 
    'green': getPasswordStrength() === 'strong' }">
  </div>
  <div [ngClass]="{ 
    'gray': getPasswordStrength() === 'gray'  || getPasswordStrength() === 'easy' || getPasswordStrength() === 'medium',
    'red': getPasswordStrength() === 'weak', 
    'green': getPasswordStrength() === 'strong' }">
  </div>
</div>