.password__input {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 16px;
}
.password__input > label {
  margin-right: 4px;
}
#password-field {
  width: 240px;
  padding: 4px;
}
#password-strength {
  display: flex;
}
#password-strength > div {
  flex: 1;
  height: 10px;
  margin-right: 4px;
}
#password-strength > div:nth-child(1) {
  margin-left: 4px;
  border: none;
  border-radius: 4px 0 0 4px;
}
#password-strength > div:nth-child(3) {
  border: none;
  border-radius: 0 4px 4px 0;
}
.gray {
  background-color: gray;
}
.red {
  background-color: red;
}
.yellow {
  background-color: yellow;
}
.green {
  background-color: green;
}