.title {
  width: 400px;
  margin: auto;
  text-align: center;
  padding: 24px 0 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: darkslategrey;
}
.container {
  width: 400px;
  height: 80px;
  margin: auto;
  background-color: powderblue;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: none;
  border-radius: 8px;
}